version = "1.0"
foldername = "ARCHIVOS_BBDD"
execOrder = [
	{ keyword = ".Deletes."	   , folder = "OLD" },
	{ keyword = ".Inserts."	   , folder = "NEW" },
	{ keyword = "UPD_META"	   , folder = "NEW" },
	{ keyword = "CREATE_TABLE" , folder = "NEW" },
	{ keyword = "CREATE_INDEX" , folder = "NEW" },
	{ keyword = "CREATE_VIEW"  , folder = "NEW" },
	{ keyword = "ALTER_TABLE"  , folder = "NEW" },
	{ keyword = "ALTER_INDEX"  , folder = "NEW" },
	{ keyword = "ALTER_VIEW"   , folder = "NEW" },
	{ keyword = "PROCEDURE"	   , folder = "NEW" },
	{ keyword = "PACKAGE"	   , folder = "NEW" },
	{ keyword = "JOB"		   , folder = "NEW" },
	{ keyword = "DATA"		   , folder = "NEW" }
]