*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Pruebas del App
test/ARCHIVOS_ORGANIZADOS/
test/ARCHIVOS_CODIFICADOS/
test/ARCHIVOS_SECUENCIADOS/
NEW/
OLD/
*.jar

# Scala-IDE specific
.scala_dependencies
.worksheet
