app {

	output_folder = "ARCHIVOS_ORGANIZADOS"

	filters = [
		{ keyword = "Designer***Deletes" , folder = "OLD" , pos = "INICIO" },
		{ keyword = "Designer***Deletes" , folder = "NEW" , pos = "INICIO" },
		{ keyword = "Designer***Inserts" , folder = "NEW" , pos = "INICIO" },
		{ keyword = "INS_META"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "UPD_META"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "DEL_META"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "CREATE_TABLE"       , folder = "NEW" , pos = "INICIO" },
		{ keyword = "CREATE_INDEX"       , folder = "NEW" , pos = "INICIO" },
		{ keyword = "ALTER_TABLE"        , folder = "NEW" , pos = "INICIO" },
		{ keyword = "DROP_INDEX"         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "DROP_TABLE"         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "VIEW"               , folder = "NEW" , pos = "INICIO" },
		{ keyword = "FUNCTION"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "PROCEDURE"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "PACKAGE"            , folder = "NEW" , pos = "INICIO" },
		{ keyword = "DROP_JOB"           , folder = "NEW" , pos = "INICIO" },
		{ keyword = "ALTER_JOB"          , folder = "NEW" , pos = "INICIO" },
		{ keyword = "CREATE_JOB"         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "DEL_DATA"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "UPD_DATA"	         , folder = "NEW" , pos = "INICIO" },
		{ keyword = "INS_DATA"	         , folder = "NEW" , pos = "INICIO" }
	]

	folders = [
		{ name = "OLD" , show = "true" },
		{ name = "NEW" , show = "false" }
	]

	file_type = "sql"

	tool = "Engage"

	link_help = "https://github.com/EricQuinterX/ordenador-de-archivos"

}
